html{
	box-sizing:border-box;
}
*,*:before,*:after{
	box-sizing:inherit;
}
body{
	font-family:$font-family;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 10px;
	color:$header-color;
}

p{
	margin: 0 0 10px;
	color: $btn-text-color;
}

img {
	@include image;
}

ul {
	@include listreset;
}

a {
	@include link;
}
#wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.container {
	max-width: $container-width;
	margin: 0 auto;
	@include clearfix;
	min-width: 320px;
}
