//==COLORS==
$primary-color:#cccccc;
$secondary-color:#00cccc;
$header-color:#666666;
$btn-text-color:#999999;
$default-color:#fff;
$price-font-color:#999;
$header-footer-color:#333333;

//==FONTS==

$font-family: 'Montserrat', 'Roboto', sans-serif;


//==SIZES//

$header-size:450px;
$heding-medium:36px;
$font-size: 14px;
$footer-font-size:13px;
$looks-font-size:48px;
$button-font:16px;
$container-width:100%;
